---
tags: viz
title: Product
permalink: "/{{ title}}.html"
---

<!DOCTYPE html>
<html lang="fr">

{% include 'head.njk' %}

<body class="container is-widescreen ">
    <header class="block">
        <h1 class="title">{{ title }}</h1>
        <button class="no-print" onclick="window.print()">Imprimer</button>
    </header>

    <main id="container" class="block">
    </main>

    <script src="/static/libs/vega.js"></script>
    <script src="/static/libs/vega-lite.js"></script>
    <script src="/static/libs/vegas-embed.js"></script>
    <script src="/static/js/product.js"></script>
</body>

</html>