---
pagination:
    data: viz
    size: 1
    alias: viz
    addAllPagesToCollections: true
permalink: "/{{ viz.name | slug }}.html"
tags: viz
eleventyComputed:
    title: "{{ viz.title }}"
---

<!DOCTYPE html>
<html lang="fr">

{% include 'head.njk' %}

<body class="container is-widescreen ">
    <header class="block">
        <h1 class="title">{{ title }}</h1>
        <button class="no-print" onclick="window.print()">Imprimer</button>
        <p><a href="/">⬅ Retour à la liste des viz</a></p>

        <div class="block">{{ viz.description }}</div>
    </header>

    <main id="container" class="block">
    </main>

    {% if viz.args %}
    <script>
        const args = {{ viz.args | dump | safe }};
    </script>
    {% endif %}

    <script src="/static/js/{{ viz.script }}"></script>
</body>

</html>